.pk-button {
  color: white;
  cursor: pointer;
  border-radius: 4px;
  padding: 8px;
  margin: 2px;
  transition: background-color;
  transition-duration: 500ms;

  &--plain,
  &--blue,
  &--green,
  &--red {
    &:hover {
      transition: background-color;
      transition-duration: 500ms;
    }
  }

  &--plain {
    border: 1px solid grey;
    background-color: #a2a2a2;
    &:hover {
      border: 1px solid #848484;
      background-color: #828282;
    }
    &:active {
      border: 1px solid #c1c1c1;
    }
  }

  &--blue {
    border: 1px solid #00005e;
    background-color: #0000b6;
    &:hover {
      border: 1px solid #00005e;
      background-color: #00008b;
    }
    &:active {
      border: 1px solid #2a2aff;
    }
  }

  &--green {
    border: 1px solid #0f7600;
    background-color: #0f8b02;
    &:hover {
      border: 1px solid #0f7600;
      background-color: #086100;
    }
    &:active {
      border: 1px solid #14aa00;
    }
  }

  &--red {
    border: 1px solid #6a0000;
    background-color: #800000;
    &:hover {
      border: 1px solid #6a0000;
      background-color: #6a0000;
    }
    &:active {
      border: 1px solid #ce0000;
    }
  }
}
