$nav-border-color: #d2d2d2;
$nav-border: 0.125rem solid $nav-border-color;
$nav-link-color: #2d2d2d;
$nav-link-color-hover: #169bfa;
$nav-link-padding-top: 0.8125rem;
$nav-link-padding-bottom: 0.875rem;
$nav-link-padding: $nav-link-padding-top 0 $nav-link-padding-bottom 0;
$nav-link-width: 12rem;

// general
.navigation {
  display: flex;
  flex-direction: row;
  background-color: #fff;
  border-bottom: $nav-border;
  &--fixed {
    position: fixed;
    top: 0;
    width: 100%;
  }
  ul { // reset ul defaults
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      a { // common styling all(!) levels nav-links
        text-decoration: none;
        text-align: center;
        display: block;
        padding: $nav-link-padding;
        color: $nav-link-color;
        width: $nav-link-width;
        &:hover {
          color: $nav-link-color-hover;
        }
      }
    }
  }
  ul.navigation__top-level {
    display: flex;
    margin-left: auto;
    background: white;

    li.navigation__top-level__item { // hide&show subnavigation
      ul {
        display: none;
      }
      &:hover > ul {
        position: absolute;
        display: block;
      }
    }
  }

  .drop-toggle {
    align-self: flex-start;
    order: 1;
    margin-left: auto;
  }
}

// not collapsed
@media (min-width: 768px) {
  .navigation {
    ul.navigation__top-level {
      flex-direction: row;
      justify-items: flex-start;
      & > li {
        ul.navigation__second-level {
          border: $nav-border;
          li:not(:last-child) {
            border-bottom: $nav-border;
          }
        }
      }
    }
    .drop-toggle {
      display: none;
    }
  }
}

// narrow screens collapsed navigation
@media (max-width: 768px) {
  .navigation {
    li a {
      border-bottom: $nav-border;
    }
    ul.navigation__top-level {
      display: none;
      flex-direction: column;
      margin-left: auto;
      // suppress the hide&show effect
      li, li:hover {
        ul.navigation__second-level {
          position: relative;
          display: block;
        }
      }
    }
    input[type='checkbox']:checked {
      margin-left: 0;
      & + ul {
        display: block;
      }
    }
  }
}
