$shadow-color: #626262;
$shadow-plain-bottom: 0px 4px 4px 0px $shadow-color;
$shadow-plain-card: 0px 4px 4px 0px $shadow-color;
$nav-border-color: #d2d2d2;
$nav-link-color: #2d2d2d;
$nav-shadow: $shadow-plain-bottom;

// general
.navigation {
  width: 100%;
  min-height: 3.15rem;
  display: flex;
  flex-direction: row;
  background-color: #fff;
  border-bottom: 1px solid $nav-border-color;
  box-shadow: $shadow-plain-bottom;
  ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      background: white;
      a {
        text-decoration: none;
        display: block;
        padding: 1rem 2rem;
        color: $nav-link-color;
        &:hover {
          background-color: #d2d2d2;
        }
      }
      ul {
        display: none;
      }
      &:hover {
        ul {
          position: absolute;
          display: block;
        }
      }
    }
  }
  .drop-toggle {
    align-self: flex-start;
    order: 10;
    margin-left: auto;
  }
}

// not collapsed
@media (min-width: 768px) {
  .navigation {
    ul {
      flex-direction: row;
      justify-items: flex-start;
      li {
        ul.navigation-flyout-list {
          border: 1px solid $nav-border-color;
          border-top: 1px solid white;
          margin-top: -1px;
          box-shadow: $shadow-plain-card;
        }
      }
    }
    border-bottom: 1px solid $nav-border-color;
    .drop-toggle {
      display: none;
    }
  }
}

// collapsed
@media (max-width: 768px) {
  .navigation {
    ul {
      display: none;
      flex-direction: column;
      justify-items: flex-start;
      width: 100%;
      li {
        ul {
          position: relative;
          display: block;
        }
        &:hover {
          ul {
            position: relative;
            display: block;
          }
        }
      }
    }
    input[type='checkbox']:checked + ul {
      display: block;
    }
  }
}
